<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
	<defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
    <rewrite>
        <rules>
            <rule name="Redirect http://sparnigeria.com to http://www.sparnigeria.com HTTP" patternSyntax="ECMAScript" stopProcessing="true">
              <match url=".*"></match>
              <conditions>
                <add input="{HTTP_HOST}" pattern="^sparnigeria.com$"></add>
                <add input="{HTTPS}" pattern="off"></add>
              </conditions>
              <action type="Redirect" url="http://www.sparnigeria.com/{R:0}" redirectType="Permanent" appendQueryString="true"></action>
            </rule>
            <rule name="Imported Rule 1" stopProcessing="true">
                <match url="^(.*)/$" ignoreCase="false" />
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                </conditions>
                <action type="Redirect" redirectType="Permanent" url="public/{R:1}" />
            </rule>
            <rule name="Imported Rule 2" stopProcessing="true">
                <match url="^" ignoreCase="false" />
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                </conditions>
                <action type="Rewrite" url="index.php" />
            </rule>
        </rules>
    </rewrite> 
</system.webServer>
</configuration>