.page-bar{
	padding: 0px;
  background-color: #f7f7f7;
  margin-bottom: 25px;
}
.page-bar .page-breadcrumb {
  display: inline-block;
  float: left;
  padding: 8px;
  margin: 0;
  list-style: none;
  padding-left: 0px;
}
.page-bar .page-breadcrumb > li {
  display: inline-block;
}
.summer-recipe{
	font-weight: 600;
  color: #00B050;
  font-family: serif;
}
.recipe-time{
	margin-top: 20px;
}
.recipe-info{
	padding-left: 20px;
}
 hr{
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 2px solid #eee;
}
.font-size-15{
  font-size: 15px;
    letter-spacing: 0.5px;
}
.Ingredients{
	font-weight: 600;
  color: #00B050;
  font-family: serif;
}
.margin{
 margin-top: 10px;
 margin-bottom: 30px;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
.side-bar{
	padding-left: 30px;
	padding-right: 50px;
}
.other-recipe{
	width: 300px;
}
.top-margin{
	margin-top: 10px;
}
.other-recipe-name{
	width: 330px;
}
.other-name{
   height: 80px;
  padding: 20px 5px 5px;
  background: #EC1A23;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-family: serif;
}
.other-img{
	height: 80px;
  width: 100%;
}
.other-margin{
	margin-top: 3px;
}
.other-pro{
	height: auto;
  width: 100%;
}
.other-name-pro{
   min-height: 150px;
  background: #2B75F0;
  text-align: center;
  color: #fff;
  padding: 34px 5px 5px;
  font-size: 16px;
  font-weight: 600;
  font-family: serif;
}
.add-button{
	float: right; 
}
.img-padding{
	padding: 10px;
}
.img-radius{
	border-radius: 15px;
}
.btn.green-stripe {
  border-right: 3px solid #35aa47;
  border-left: 3px solid #35aa47;
  border-top: 1px solid #857F7F;
  border-bottom: 1px solid #857F7F;
  }
  .btn-align{
  	text-align: center;
  }
  .side-nav{
  border: 1px solid #EC1A23;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  }
  .side-nav a{
    color: #fff;
  }
  .active-nav{
    color: #EC1A23;
      font-weight: 600;
  }
  .other-nav{
    color: #fff;
    background-color: #EC1A23;
    font-weight: 600; 
  }
  .customer{
   background: #18A848;
   text-align: center;
   padding: 5px;
  }
  .customer h4{
    color: #fff;
  }
  .cust-date{
   color: #4F61DA;
  font-weight: 500;
  font-size: 12px;

  }

  .page-sidebar-left{
    padding-right: 30px;
  }

  .page-sidebar-right{
    padding-left: 30px;
  }
  .sidebar-title{
    background: #0F0;
    color: #FFF;
    padding: 5px 10px;
    margin: 10px 0;
  }
  .sidebar-image{
    margin: 10px 0;
  }
  .sidebar-image img{
    width: 100%;
  }
  .page-title-top{
    font-weight: 700;
    margin: 10px 0 15px 0;
    font-size: 30px;
    font-family: 'Lora';
    text-transform: uppercase;
  }
  .sidebar-link{
    width: 100%;
    display: block;
    background: #f7f7f7;
    padding: 5px 10px;
    margin: 2px 0;
    font-size: 14px;
  }
  .sidebar-link.active{
    background: #157946;
    color:#FFF;
    background: rgb(21,121,70); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(21,121,70,1) 0%, rgba(32,178,58,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(21,121,70,1)), color-stop(100%,rgba(32,178,58,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(21,121,70,1) 0%,rgba(32,178,58,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(21,121,70,1) 0%,rgba(32,178,58,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(21,121,70,1) 0%,rgba(32,178,58,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(21,121,70,1) 0%,rgba(32,178,58,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#157946', endColorstr='#20b23a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }
  .page-content .col-md-6:first-child{
    padding-right: 30px;
  }
  .page-content h3{
    font-weight: 400;
    background: #157946;
    margin: 0 0 8px 0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#157946+0,20b23a+100;Green+Flat+%233 */
background: rgb(21,121,70); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(21,121,70,1) 0%, rgba(32,178,58,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(21,121,70,1)), color-stop(100%,rgba(32,178,58,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(21,121,70,1) 0%,rgba(32,178,58,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(21,121,70,1) 0%,rgba(32,178,58,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(21,121,70,1) 0%,rgba(32,178,58,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(21,121,70,1) 0%,rgba(32,178,58,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#157946', endColorstr='#20b23a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }
  .page-content p {
    text-align: justify;
    padding: 0 5px;
  }
  .brand-name{
    background:rgba(21, 121, 70, 0.55);
    color:#FFF;
    padding:10px;
    font-size:20px;
    margin-top:-40px;
    position:absolute;
    z-index:100;
    width:100%;
    height:40px;
    font-family: serif;
  }
  .recipe-img{
  width: 100%;
  border: 2px solid #EEE;
  padding:5px;
  border-radius: 5px;  
  }
  .padding-10{
    padding: 10px;
  }
.recipe-img-width{
  width: 100%;
  height: 200px;
}
.margin-bottom-20{
  margin-bottom: 20px;
}
.recipe-name{
 text-align: center;
 background-color: #E6E5E5;
 padding: 10px; 
 border-radius: 2px;
}
.border-radius-2{
  border-radius: 5px;
}
.margin-0{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.related-recipe{
  background-color: #6BAD3E;
  color: #fff;
}
.border-1{
  border: 1px solid #eee;
}
.submit-btn{
    background-color: #F70707 !important;
  font-weight: 600;
  border-radius: 8px;
}
.padding-5{
  padding: 5px;
}
.promo{
  background-color: #FFC000;
  text-align: center;
  margin-top: 5px;
}
.promo p{
    color: #FF0000;
  font-weight: 600;
}
.width-100{
  width: 100%;
}
.text-form{
  text-transform: uppercase;
}
.box-shadow-comm{
    box-shadow: 1px 2px 5px #9E9C9C;
}
.kid-corner{
  height: 200px; 
  background-size: 100% 100%; 
  background-repeat:no-repeat;
}
.kid-corner .col-md-12{
  top: 65px; 
  max-width: 600px; 
  left: 60px;
}
.kid-corner h1{
  color:#fff; 
  width: auto; 
  background-color: rgba(0, 0, 0, 0.14);
}
.btn.red-stripe {
  border-right: 3px solid #D84A38;
  border-left: 3px solid #D84A38;
  border-top: 1px solid #857F7F;
  border-bottom: 1px solid #857F7F;
  color: #F70707;
  font-size: 15px;
}
.border-radius-50{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.border-radius-60{
  border-radius: 10px;
}
.padding-top-0{
  padding-top: 0px !important;
}
.masonryItem {
  border: .07692rem solid #fff;
  margin-bottom: 1.23077rem;
  float: left;
  overflow: hidden;
  background: #fff;
  position: relative;
  width: 100%;
}
.masonryItem .topSection {
  width: 100%;
  padding: .76923rem;
}
.masonryItem.recipe .shareOptions {
  padding: 5.38462rem 3.69231rem;
}
.masonryItem .shareOptions {
  cursor: pointer;
  display: none;
  width: 21.69231rem!important;
  min-height: 17.92308rem;
  position: absolute;
  padding: 7.38462rem 3.69231rem;
  background: rgba(248,246,243,.5);
  z-index: 1;
}
.masonryItem .photo {
  display: block;
  min-height: 17.92308rem;
  width: 21.53846rem;
  background: #f8f6f3;
  position: relative;
}
.masonryItem .photo.loaded {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.recipeInfo{
  padding: 0px 10px 10px 10px;
}
.topSection .page-content p {
  margin-bottom: 0px;
}
.store-locator-padding-20{
  padding-right: 20px;
}
.store-city-list{
  margin-bottom:20px;
}
.store-select-div{
  display: block;
  text-align: center;
  margin-bottom: 20px;
  display: none;
}
.store-select{
  padding: 5px 20px;
  border-radius: 5px;
  width: 200px;
}
@media(max-width: 480px){
  .page-sidebar-left {
    padding-right: 0;
  }
  .page-sidebar-left img{
    width: 100%;
    height: auto;
  }
  .page-sidebar-right {
    padding-left: 0;
  }
  .page-content .col-md-6:first-child {
      padding-right:0px;
  }
  .store-locator-padding-20{
    padding-right: 0px;
  }
  .small-float-none{
    float: none !important;
  }
  .page-title-top{
    text-align: center;
  }
  .page-bar{
    display: none;
  }
  .store-city-list{
    display: none;
  }
  .store-select-div{
    display: block;
  }
}