.page-bar{
	padding: 0px;
  background-color: #f7f7f7;
  margin-bottom: 25px;
}
.page-bar .page-breadcrumb {
  display: inline-block;
  float: left;
  padding: 8px;
  margin: 0;
  list-style: none;
  padding-left: 0px;
}
.page-bar .page-breadcrumb > li {
  display: inline-block;
}
.summer-recipe{
	font-weight: 600;
  color: #00B050;
}
.recipe-time{
	margin-top: 20px;
}
.recipe-info{
	padding-left: 20px;
}
 hr{
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 2px solid #eee;
}
.Ingredients{
	font-weight: 600;
  color: #00B050;
}
.margin{
 margin-top: 30px;
 margin-bottom: 30px;
}
.side-bar{
	padding-left: 30px;
	padding-right: 50px;
}
.other-recipe{
	width: 300px;
}
.top-margin{
	margin-top: 10px;
}
.other-recipe-name{
	width: 330px;
}
.other-name{
 height: 80px;
 padding: 30px;
 background: #DA3632;
}
.other-img{
	height: 80px;
  width: 100%;
}
.other-margin{
	margin-top: 3px;
}
.other-pro{
	height: 200px;
  width: 100%;
}
.other-name-pro{
 height: 200px;
 padding: 60px;
 background: #DA3632;
   text-align: center;
}
.add-button{
	float: right; 
}
.img-padding{
	padding: 10px;
}
.img-radius{
	border-radius: 15px;
}
.btn.green-stripe {
  border-right: 3px solid #35aa47;
  border-left: 3px solid #35aa47;
  border-top: 1px solid #857F7F;
  border-bottom: 1px solid #857F7F;
  }
  .btn-align{
  	text-align: center;
  }
  .side-nav{
  border: 1px solid #EC1A23;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  }
  .side-nav a{
    color: #fff;
  }
  .active-nav{
    color: #EC1A23;
      font-weight: 600;
  }
  .other-nav{
    color: #fff;
    background-color: #EC1A23;
    font-weight: 600; 
  }
  .customer{
   background: #18A848;
   text-align: center;
   padding: 5px;
  }
  .customer h4{
    color: #fff;
  }
  .cust-date{
   color: #4F61DA;
  font-weight: 500;
  font-size: 12px;

  }

  .page-sidebar-left{
    padding-right: 30px;
  }

  .page-sidebar-right{
    padding-left: 30px;
  }
  .sidebar-title{
    background: #0F0;
    color: #FFF;
    padding: 5px 10px;
    margin: 10px 0;
  }
  .sidebar-image{
    margin: 10px 0;
  }
  .sidebar-image img{
    width: 100%;
  }
  .page-title-top{
    font-weight: 300;
    margin: 10px 0 15px 0;
    font-size: 30px;
  }
  .sidebar-link{
    width: 100%;
    display: block;
    background: #f7f7f7;
    padding: 5px 10px;
    margin: 2px 0;
  }
  .sidebar-link.active{
    background: #157946;
    color:#FFF;
  }
  .page-content .col-md-6:first-child{
    padding-right: 30px;
  }
  .page-content h3{
    font-weight: 300;
    background: #157946;
    margin: 8px 0;
    color: #fff;
    padding: 5px 10px;
  }
  .page-content p {
    text-align: justify;
    padding: 0 5px;
  }
  .brand-name{
    background:rgba(21,121,70,0.8);
    color:#FFF;
    padding:10px;
    font-size:20px;
    margin-top:-40px;
    position:absolute;
    z-index:100;
    width:100%;
    height:40px
  }
