.banner-col12{
   border:3px solid #f7f7f9; 
   padding:15px; 
   margin-top:5px;
   cursor: pointer;
}
.img-banner{
 max-width: 100px;
}
.add-new{
  text-align:right;
}
.del{
  margin-left:2px;
}
.banner-del{
margin-left:5px;
}
.sub-center{
text-align:center;
}
.pro-table{
  overflow-x:auto;
}
.img-brand
{
 width:100%; 
}
.banner-image{
	padding:5px;
}

.banner-image .banner-pro{
	border:1px dashed #CCC;
	height:200px;
	overflow:hidden;
	cursor: move;
}
.banner-image h3{
	padding: 0 20px;
}
.banner-image h4{
	padding: 0 20px;
}
.banner-pro input{
	display:none;
}
.banner-pro .btn-danger{
	
}
div.prim{
	cursor: move;
}
.body-div{
	background:#EEE; border:1px dashed #CCC; padding:10px 15px;
	margin-bottom:20px;
}
.fa-hidden{
	display: none;
}
.image-link{
	max-width:100px; margin:10px; border:1px dashed #CCC; padding:2px; float:left; cursor: pointer;
}
