
.dropdown-submenu .dropdown-menu i{
  color: #fff !important;
}
.dropdown-submenu .dropdown-menu .active{
  background: #1C675C;
  border-top-color: transparent;
  color: #ffffff;
}
.dropdown-submenu .dropdown-menu .title{
  color: #fff !important;
  font-size: 12px;
  font-weight: 100;
}
.dropdown-submenu .dropdown-menu{
  background-color: #364150;
}
.tablesorter-filter{
  width: 100%;
  min-width: 30px;
  box-shadow: none;
  border:1px solid #CCC;
}
.form-group span.error{
  color: #f00;
}
.padding-5{
  padding: 5px;
}
.padding-10{
  padding: 10px;
}
.recipe-text{
  text-align: right;
}
.margin-0{
  margin: 0px;
}
.recipe-border{
  border: 2px solid #eee;
}
.recipe-img{
  width: 100%;
  height: auto;
}